body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  width: 500px;
  padding: 20px;
  background-color: rgb(218, 198, 172);
  text-align: center;
  border-radius: 10px;
}

h1 {
  margin-bottom: 10px;
}

.controls {
  margin-top: 20px;
}

button {
  padding: 8px 15px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: white;
}
